<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.0.0/css/materialize.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">


<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">GeoPets</a>
    <a href="mobile-demo" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icon">Menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="{% url 'creat_post' %}">Make Post</a></li>
      <li><a href="{% url 'list_view' %}">Missing Animals</a></li>
      <li><a href="{% url 'map_view' %}">Map</a></li>
    </ul>
  </div>
  
</nav>

<ul class="sidenav-trigger" id="mobile-demo">
  <li><a href="{% url 'creat_post' %}">Make Post</a></li>
  <li><a href="{% url 'list_view' %}">Missing Animals</a></li>
  <li><a href="{% url 'map_view' %}">Map</a></li>
  <script>

    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, options);
      }); 
    </script>
</ul>

        
