<img src = "/media/{{ object.image }}" width= "400" height = "400" />
<h3>
    Description
</h1>
<p>
    {{ object.description }}
</p>

<style>
    /* Set the size of the div element that contains the map */
    #map {
        height: 400px;  /* The height is 400 pixels */
        width: 50%;  /* The width is the width of the web page */
        }
    </style>
</head>
<body>
    <h3>Location</h3>
    <!--The div element for the map -->
    <div id="map"></div>
    <script>
// Initialize and add the map
function initMap() {
// The location of Uluru
    var uluru = {lat: {{object.lat}}, lng: {{object.lng}}};
// The map, centered at Uluru
    var map = new google.maps.Map(
        document.getElementById('map'), {zoom: 17, center: uluru});
// The marker, positioned at Uluru
    var marker = new google.maps.Marker({position: uluru, map: map});
}
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxEUuE6E8t1bDDtLwRCnFST5juA96nCbU&callback=initMap">
    </script>
</body>

{{ object.date_published }}